@model FamilyConnections.UI.Models.ConnectionViewModel

<h4>WELCOME, NEW FAMILY MEMBER!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="Relationship.Error" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="TargetPerson.FullName" class="control-label">Full Name</label>
                <input asp-for="TargetPerson.FullName" class="form-control" data-val-required="Required!" @* name="CurrentConnection.TargetPerson.FullName" *@ />
                <span id="TargetPerson_FullName-error" asp-validation-for="TargetPerson.FullName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TargetPerson.DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="TargetPerson.DateOfBirth" class="form-control" @* name="CurrentConnection.TargetPerson.DateOfBirth" *@ />
                <span asp-validation-for="TargetPerson.DateOfBirth" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TargetPerson.PlaceOfBirth" class="control-label">Place of Birth</label>
                <select class="form-select-bordered" asp-for="TargetPerson.PlaceOfBirth" asp-items="ViewBag.Countries" @* name="CurrentConnection.TargetPerson.PlaceOfBirth" *@>
                    <option value="-1" selected="selected">-- Country --</option>
                </select>
                <span id="TargetPerson_PlaceOfBirth-error" asp-validation-for="TargetPerson.PlaceOfBirth" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TargetPerson.Gender" class="control-label">Gender</label>
                <select onchange="toggleRelationships(this.value)" class="form-select-bordered" asp-for="TargetPerson.Gender" asp-items="ViewBag.Genders" @* name="CurrentConnection.TargetPerson.Gender" *@>
                    <option value="-1" selected="selected">-- Gender --</option>
                </select>
                <span id="TargetPerson_Gender" asp-validation-for="TargetPerson.Gender" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label style="display:block" asp-for="RelatedPerson.Id" class="control-label">Connecting to....</label>
                <select class="form-select-bordered" asp-for="RelatedPerson.Id" asp-items="ViewBag.AllPersonsItems" @* name="CurrentConnection.RelatedPerson.Id" *@>
                    <option value="-1" selected="selected">-- Person --</option>
                </select>
                <span asp-validation-for="RelatedPerson.Id" class="text-danger"></span>
            </div>
            <br />
            <div id="FemaleRelationships" class="form-group">
                <label style="display:block" asp-for="Relationship.FemaleRelId" class="control-label">As....</label>
                <select class="form-select-bordered" asp-for="Relationship.FemaleRelId" asp-items="ViewBag.FemaleRelationships"
                @* data-val-required="Required!" data-val="true" *@ @* name="CurrentConnection.Relationship" *@>
                    <option value="-1" selected="selected">-- Relationship --</option>
                </select>
                <span asp-validation-for="Relationship.FemaleRelId" data-valmsg-replace="false" class="text-danger"></span>
            </div>
            <div id="MaleRelationships" class="form-group" style="display:none">
                <label style="display:block" asp-for="Relationship.MaleRelId" class="control-label">As....</label>
                <select class="form-select-bordered" asp-for="Relationship.MaleRelId" asp-items="ViewBag.MaleRelationships"
                @* data-val-required="Required!" data-val="true" *@ @* name="CurrentConnection.Relationship" *@>
                    <option value="-1" selected="selected">-- Relationship --</option>
                </select>
                <span asp-validation-for="Relationship.MaleRelId" data-valmsg-replace="false" class="text-danger"></span>
            </div>
            <br />
            <hr style="width:315%" />
            <div class="form-group">
                <input type="submit" value="Connect" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function() {
            var fullNameValidation = $('#TargetPerson_FullName-error');
            if (fullNameValidation.html().trim() !== "") {
                fullNameValidation.html("");
            }
            // var fullNameValidation = $('#TargetPerson_PlaceOfBirth-error');
            // if (fullNameValidation.html().trim() !== "") {
            //     fullNameValidation.html("");
            // }
        });

        function toggleRelationships(selectedGender) {
            var maleDiv = document.getElementById("MaleRelationships");
            var femaleDiv = document.getElementById("FemaleRelationships");
            var maleSelect = maleDiv.querySelector("select");
            var femaleSelect = femaleDiv.querySelector("select");

            if (selectedGender == "0") {
                maleDiv.style.display = "block";
                femaleDiv.style.display = "none";
                femaleSelect.selectedIndex = 0;
            } else {
                maleDiv.style.display = "none";
                femaleDiv.style.display = "block";
                maleSelect.selectedIndex = 0;
            }
        }
    </script>

}
